    @import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

body{
    background-color:rgb(236, 252, 210);
}
* {
    color: #333333;
}
p {
    margin-bottom: 1px;
}
.top-box{
    width:640px;
    margin-left:auto;
    margin-right:auto;
}
.heart{
    width:50px;
    height:50px;

}
.currentTime{
    font-size:18px;
}
.mainbox{
    width:640px;
    margin-left:auto;
    margin-right:auto;
    padding:10px;
}
.special-day{
    font-family: 'Gamja Flower', cursive;
    overflow : hidden;
}
.title{
    float:left;
}
.date-box{
    float:right;
}
.photos {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#love{
    font-color:rgb(248, 191, 201);
    color: rgb(250, 136, 157);
    border:3px solid rgb(248, 191, 201);
    padding:10px;
    border-radius:80px;
}
#sichan {
    width:200px;
    height:200px;
    object-fit:cover; 
    border-radius:100%;
    margin-right: 30px;
}
#jay {
    width:200px;
    height:200px;
    object-fit:cover;
    border-radius:50%;
    margin-left: 30px;
}
#heart {
    width:50px;
    height:50px;
}
.gray {
    color: #a0a0a0;
}
.special-day {
    display: flex;
    justify-content: space-between;
    border-bottom : 2px solid rgb(223, 222, 222); 
    padding-top:15px;
}
.title {
    display: flex;
    align-items: center;
    font-size:35px;
}
.days-left {
    text-align: right;
    font-size:20px;
    font-family:font-family: 'Black And White Picture', sans-serif; 
}
.date {
    text-align: right;
    color: #a0a0a0;
}